<h1><?php echo $block->getMessage(); ?></h1>
<div>
    <?php foreach($block->getTribbles() as $tribble): ?>
        <p><?php echo $tribble->getName(); ?></p>
    <?php endforeach; ?>
</div>
<img src="<?php echo $block->getViewFileUrl('Training_John::images/kirk_surrounded_by_tribbles.jpg') ?>">
<?php echo $block->getBonusViewModel()->getBonusMessage(); ?>
